@page "/products/{ProductID}"
@using DevOps.Products.Website.Models.ViewModels
@using DevOps.Products.Website.Services.Interfaces.Pages
@using Microsoft.AspNetCore.Components
@using DevOps.Products.Website.States
@inject IProductDetailsService ProductDetailsService

@if (_productDetailsState == null)
{
	<p><em>Loading...</em></p>
}
else
{
    <h1>@_productDetailsState.Product.Name</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Category</th>
				<th>Brand</th>
				<th>Description</th>
				<th>Price</th>
				<th>In Stock</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@_productDetailsState.Product.CategoryName</td>
				<td>@_productDetailsState.Product.BrandName</td>
				<td>@_productDetailsState.Product.Description</td>
				<td>£@_productDetailsState.Product.Price.ToString("f2")</td>
				<td>@_productDetailsState.Product.InStock</td>
				<td><button>Buy Now</button></td>
			</tr>
		</tbody>
	</table>
	<h2>Reviews:</H2>
	@if (!_productDetailsState.Reviews.Any())
	{
		<p><em>No Reviews yet!</em></p>
	}
	else
	{
		<table class="table">
			<thead>
				<tr>
					<th>Customer</th>
					<th>Text</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				@foreach (ReviewViewModel review in _productDetailsState.Reviews)
				{
					<tr>
						<td>@review.Customer.Name</td>
						<td>@review.Text</td>
						<td>@review.Rating</td>
					</tr>
				}
			</tbody>
		</table>
	}

	<EditForm Model="@_reviewForm" OnValidSubmit="@SubmitReview">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<InputNumber @bind-Value="_reviewForm.Rating" placeholder="Add a rating..." />
		<InputText @bind-Value="_reviewForm.Text" placeholder="Write a review..." />
		<button type="submit">Submit</button>
	</EditForm>
}

@code {
	private ProductDetailsState _productDetailsState;

	private ReviewViewModel _reviewForm = new ReviewViewModel();

	[Parameter]
	public string ProductID { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_productDetailsState = await ProductDetailsService.GetProductDetailsViewModelAsync(int.Parse(ProductID));
	}

	private async void SubmitReview()
	{
		_reviewForm.ProductID = _productDetailsState.Product.ID;
		_reviewForm.Customer = _productDetailsState.Customer;

		ReviewViewModel review = await ProductDetailsService.SubmitReview(_reviewForm);

		_productDetailsState.Reviews.Add(review);
		_reviewForm = new ReviewViewModel();

		this.StateHasChanged();
	}
}

