@page "/"

@using DevOps.Products.Website.Models.ViewModels
@using DevOps.Products.Website.Models.ViewModels.ProductList
@using DevOps.Products.Website.Services.Interfaces
@using DevOps.Products.Website.Services.Interfaces.Pages
@using DevOps.Products.Website.States
@inject IProductListService ProductListService

<h1>Products</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_productListState == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<input type="text" @bind-value="SearchString" @bind-value:event="oninput" placeholder="Search..."/>
	<select @bind="SelectedCategoryID">
		<option></option>
		@foreach (CategoryViewModel category in _productListState.Categories)
		{
			<option value="@category.ID">@category.Name</option>
		}
	</select>
	<select @bind="SelectedBrandID">
		<option></option>
		@foreach (BrandViewModel brand in _productListState.Brands)
		{
			<option value="@brand.ID">@brand.Name</option>
		}
	</select>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Brand</th>
				<th>Price</th>
				<th>In Stock</th>
			</tr>
		</thead>
		<tbody>
			@foreach (ProductViewModel product in _productListState.Products)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.CategoryName</td>
					<td>@product.BrandName</td>
					<td>£@product.Price.ToString("f2")</td>
					<td>@product.InStock</td>
					<td><a href="/products/@product.ID">Details</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private ProductListState _productListState;

	private string _searchString;
	private int? _selectedCategoryID;
	private int? _selectedBrandID;

	public string SearchString
	{
		get => _searchString;
		set
		{
			_searchString = value;
			FilterProducts();
		}
	}

	public int? SelectedCategoryID
	{
		get => _selectedCategoryID;
		set
		{
			_selectedCategoryID = value;
			FilterProducts();
		}
	}

	public int? SelectedBrandID
	{
		get => _selectedBrandID;
		set
		{
			_selectedBrandID = value;
			FilterProducts();
		}
	}

	protected override async Task OnInitializedAsync()
	{
		_productListState = await ProductListService.GetProductListViewModelsAsync();
	}

	private async void FilterProducts()
	{
		_productListState = await ProductListService.GetProductListViewModelsAsync(SearchString, SelectedCategoryID, SelectedBrandID);

		this.StateHasChanged();
	}
}
